.LaunchList {
    height: 100vh;
    overflow: hidden auto;
    background-color: rgb(255, 255, 255);
    width: 40%;
  }

  .LaunchList__title {
    margin: 20px;
    padding: 20px;
    color: rgb(201, 20, 20);
  }
  
  
  .LaunchList__list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .LaunchCard__item {
    border: 1px solid #bcbbbb;
    cursor: pointer;
    border-radius: 15px;
    background-color: whitesmoke;
    margin: 10px;
  }

  .LaunchCard__details {
    border: 0;
    cursor: pointer;
    border-radius: 15px;
    background-color: rgb(251, 239, 239, 0.5);
    margin: 10px
  }

  .LaunchCard__title {
    margin: 10px
  }

  .LaunchCard__item a {
    text-decoration: none;
    color: rgb(15, 19, 35);
    font-weight: bold;
  }
  .LaunchCard__item a:hover {
    color: rgb(201, 20, 20);
  }