.MissionList {
    height: 100vh;
    overflow: hidden auto;
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .MissionList__title {
    margin: 20px;
    padding: 20px;
    color: rgb(201, 20, 20);
  }
  
  
  .MissionList__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .MissionCard__item {
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #f8aeae;
    cursor: pointer;
    border-radius: 15px;
    background-color: whitesmoke;
    margin: 10px
  }

  .MissionCard__item a {
    text-decoration: none;
    color: rgb(15, 19, 35);
    font-weight: bold;
  }
  .MissionCard__item a:hover {
    color: rgb(201, 20, 20);
  }