.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-items: center;
}

.App__header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position:sticky; 
  top:0;
}

.App__body {
  display: flex;
  flex-direction: row;
}

.App-link {
  color: #61dafb;
}


.App__select, 
.App__input{
    border: 1px solid #bcbbbb;
    border-radius: 15px;
    background-color: whitesmoke;
    margin: 10px;
    padding: 10px;
}
.App__input {
  width: 250px;
}

