.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-items: center;
}

.App__header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App__body {
  display: flex;
  flex-direction: row;
}

.App-link {
  color: #61dafb;
}


.App__select {
    border: 1px solid #bcbbbb;
    border-radius: 15px;
    background-color: whitesmoke;
    margin: 10px;
    padding: 10px;
}

